* {
    font-family: Roboto, sans-serif;
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header, .c-1, .footer {
    background-color: #1f2937;
    color: white;
    padding: 16px;
    
}

.header {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.content {
    display: flex;
}

.c-1 {
    align-items: center;
    justify-content: center;
    padding: 72px;
}

.c-1-inner {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    flex-wrap: wrap;
}

.c-1-inner-button {
    width: 120px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #e5e7eb;
    background-color: #3882f6;    
    border-radius: 8px;
    border: none;
}

.c-1-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0 32px 0 0;
}

.c-1-text {
    font-size: 18px;
    color: #e5e7eb;
    padding: 16px 32px 16px 0;

}

.placeholder {
    display: flex;
    background-color: #e5e7eb8e;
    justify-content: center;
    align-items: center;
}

.c-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 100px;
    height: 100px;
}

.c-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;

}

.c-3-text {
    width: 700px;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.c-3-signo {
    width: 700px;
    text-align: end;
}

.c-4 {
    align-items: center;
    justify-content: center;
}

.c-4 div{
    width: 600px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    font-size: 18px;

}